:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: red;
}

p {

}

form {

}

input {

}

label {

}

.section-container {

}

.section-header {
  
}

.field-elements {

}


.element-container {

}

.element {

}
